
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');



body{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
}

.parent-container{
    background-color: #150E28;
    overflow-x: hidden;
}
.hero-page{
    padding-top:50px;
    padding-bottom: 20px;
    background-color: #150E28;
    font-family: "Montserrat";
}
.first-component-flex{
    display:flex;
    gap:30px;
    
}

.get-linked-logo{
    width:150px;
    object-fit: contain;
    /* margin-right: 200px; */
    margin-left: 150px;

}
.first-component-nav{
    display:flex;
    gap:50px;
    margin-left: 220px;
    margin-top: 10px;
}

.first-component-nav > nav{
    color:#ffff;
    font-size: 20px;
}
.first-component-button {
    width: 130px;
    height:40px;
    border-radius: 4px;
    border:none;
    color:#ffff;
    margin-left: 50px;
    background-image:linear-gradient(to right , #FF26B9,#903AFF);
}
hr{
    border: solid 0.2px rgb(97, 97, 97);
    margin-top:15px;
}
.first-hr{
    margin-top:-5px;
}

.star-innovation-div{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:300px;
    margin-top: 15px;
}
.first-star{
    margin-right:150px;
    object-fit: contain;
    width:20px;
}
.innovation-stroke-div{
    position:relative;
}

.innovation-tag{
    font-size: 28px;
    font-weight: 700;
    color:#ffff;
    margin-right: -50px;
   
}

.curved-stroke{
    position: absolute;
     top:60px;
     margin-left: 350px;
     width:230px;
}
.second-component-flex{
    margin-top:40px;
    margin-left: 130px;
    display:flex;  
}

.getlinked-div{
    margin-top: 40px;
    position:relative;
}

.getlinked-div-image{
     width:490px;
}
.second-component-flex p{
    font-size: 17px;
    color:#ffff;
}
.second-component-button {
    width: 130px;
    height:40px;
    border-radius: 4px;
    border:none;
    color:#ffff;
    background-image:linear-gradient(to right , #FF26B9,#903AFF);
    margin-top:32px;
}
.first-grey-star{
    width:20px;
    position:absolute;
    bottom:210px;
    right:90px;

}

.vr-man-div{
    position: relative;
    padding-right:100px !important;
}
.second-grey-star{
    width:20px;
    position:absolute;
    left:29px;
}

.multiple-star-image{
   position:absolute;
   top:20px;
   left:-39px;
   width:600px;
}
.vr-man{
   width:710px; 
}
.multiple-star-image{
    animation: vr-star linear 5s infinite;
}
@keyframes vr-star{
from {
    transform: rotate(0deg);
}
to{
    transform:rotate(360deg)
}
} 
.countdown-div{
    display:flex;
    gap:30px;
    margin-top: 50px;
    position: relative;
}
.countdown-div p{
font-size:50px;
font-family:Arial, Helvetica, sans-serif;
}
 .countdown-small-text1{
    font-size:16px;
    position:absolute;
    color:#fff;
    top:70px;
    left:30px;
} 
 .countdown-small-text2{
    font-size:16px;
    position:absolute;
    color:#fff;
    top:70px;
    left:113px;
} 
.countdown-small-text3{
    font-size:16px;
    position:absolute;
    color:#fff;
    top:70px;
    left:200px;
} 

.second-UI-div{
    margin-top:60px;
 display:flex;
 align-items: center;
 justify-content: center;
 gap:30px;
 margin-bottom:70px;
}
.big-idea-main-div{
    position:relative;
}
.second-UI-purple-star{
    position: absolute;
    top:65px;
    width:20px;
    left:45px;
}
.big-idea-img{
width:63%;
margin-left:110px;
}
/* .second-UI-arrow{
    top:20px;
} */
.introduction-text-div{
    width:38%;
    color: #ffff;
    position: relative;
}
.purple-star-second-UI{
position:absolute;
right:15px;
width:25px;
}
.introduction-text-div p{
    margin-top: 15px;
}
.rules-and-regulation-main-div{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    
}
.rules-div{
    margin-left:170px;
    position: relative;
    width:40%;
}
.rules-img{
    width:40%;
}
.rules-div p{
    margin-top: 30px;
    color:#ffff;
}
.rules-first-star{
    position:absolute;
    left:290px;
    width:20px;
    top:-30px;
}
.rules-second-star{
    position:absolute;
    width:20px;
    left:460px;

}
.judging-citeria-div{
    display:flex;
    margin-top:150px;
    align-items: center;
    justify-content: center;
    gap:50px;
    margin-bottom: 130px;
   
}

.judging-citeria-first-div{
width:50%; 
position:relative;  
margin-top: -50px;

}

.eclipse-img{
    position:absolute;
    left:110px;
    bottom:90px;
}
.judging-citeria-major-img{
    z-index:9999;
    position:absolute;
    margin-top: -180px;
}
.judging-citeria-first-star{
    position:absolute;
bottom:310px;
left:170px;
width:20px;
}
 
.judging-citeria-second-star{
    width:20px;
    position: absolute;
    bottom:-120px;
    left:410px;
    }

    .judging-citeria-third-star{
        position:absolute;
        width:20px;
        right:-10px;
        top:320px;
        } 

.judging-citeria-second-div{
    width:40%;
    margin-top: -50px;
}
.judging-citeria-second-div img{
margin-bottom: 25px;
}
.judging-citeria-text p{
color:#ffff;
font-size: 16px;
margin-bottom: 28px;
}

.judging-citeria-text span{
    color:#FF26B9;
}

.judging-citeria-button{
width: 130px;
height:40px;
border-radius: 4px;
border:none;
color:#ffff;
background-image:linear-gradient(to right , #FF26B9,#903AFF);
margin-top:27px;
margin-top:35px;
}
.FAQ-div{
    display:flex;
    margin-left:140px;
    margin-top: 120px;
    gap:80px;
    margin-bottom: 30px;
}

.FAQ-text{
    margin-top: 70px;
    position:relative;
    width:42%;
}
.FAQ-first-pu-star{
    width:25px;
    position:absolute;
    top:-80px;
    left:-10px;
}

.FAQ-text p{
    color:white;
}
.text-collapse-div{
    margin-top:30px;
}
.hidden-tag{
    display:none;
}
.we-got-tag{
    margin-top:30px;
    margin-bottom:80px;
}
.FAQ-img-div{
    width:50%;
    position:relative;
}
.FAQ-main-asset{
    width:630px;
    margin-top:30px;
}
 .first-question-mark{
position:absolute;
z-index: 99999;
right:220px;
top:-22px;
} 

 .second-question-mark{
right:365px;
position:absolute;
top:-65px;
z-index: 99999;
width:55px;
}
.third-question-mark{
    right:510px;
    position:absolute;
    top:-5px;
z-index: 99999;
}
.FAQ-first-star{
    position:absolute;
    top:10px;
    width:20px;
    right:330px;
}
.FAQ-second-star{
    position:absolute;
    top:150px;
    width:20px;
    right:490px;
}
.FAQ-third-star{
    position:absolute;
    top:340px;
    width:16px;
    right:520px;
}
.FAQ-fourth-star{
    position:absolute;
    bottom:0px;
    width:20px;
    right:100px;
}
.each-question-div{
    border-bottom: 1px solid #D434FE;
    display:flex;
    gap:20px;
    width:540px;
    
}
.fa{
    margin-left:50px;
    color:#D434FE;
}
.first-plus{
    margin-left: 5px;
}
.second-plus{
    margin-left: 30px;
}
.third-plus{
    margin-left: 48px;
}
.fourth-plus{
    margin-left: 70px;
}
.fifth-plus{
    margin-left: 125px;
}
.sixth-plus{
    margin-left: 10px;
}
.timeline-parent-container{
    margin-top:40px;
   
}
.timeline-div{
 text-align: center;
}

.timeline-text{
    color: #ffff;
    font-size: 30px;

}
.timeline-info-header{
    color:#ffff;
    font-size:15px;
    font-family:'Montserrat';
}
.timeline-flex-container{
    display:flex;
    /* align-items: center; */
    justify-content: center;
    gap:27px;
    margin-left: 80px;
    margin-top:120px;
    font-size: 14px;
}
.timeline-first-flex{
    color:#ffff;
    text-align: right;
    position:relative;
    /* margin-top: 0px !important; */
    animation:wheel-first-timeline 1.0s linear;
}

@keyframes wheel-first-timeline {
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}

.timeline-first-flex h3{
    color:#D434FE;
}
.first-div{
    margin-top:40px;
}
.second-div{
    margin-top: 85px;
}
.third-div{
    margin-top: 80px;
}
.fourth-div{
    margin-top:89px;
}
.fifth-div{
    margin-top:65px;
}
.sixth-div{
    margin-top:80px;
}
.timeline-second-flex{
    position: relative;
    animation:wheel-second-timeline 1.5s linear;
}

@keyframes wheel-second-timeline {
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}


.long-stroke{
   border:2px solid #D434FE;
   width:108px;
   rotate: -90deg;
}
.circle{
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    color:#ffff;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top:70px;
    left:43px;

}
.short-stroke{
    border:2px solid #D434FE;
   width:60px;
   rotate: -90deg;
   position: absolute;
   top:150px; 
   left:27px;
}
.second-circle{
   color:#ffff;
   border-radius: 50%;
   width:37px;
   height:38px;
   background-color: #D434FE;
   text-align: center;
   font-size: 22px;
   position: absolute;
    top:190px;
    left:43px;
}     
.second-short-stroke{
    border:2px solid #D434FE;
    width:60px;
    rotate: -90deg;
    position: absolute;
    top:270px; 
    left:27px;
}
.third-circle{
    color:#ffff;
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    text-align: center;
    font-size: 22px;
    position: absolute;
     top:290px;
     left:43px;
}
.third-short-stroke{
    border:2px solid #D434FE;
    width:60px;
    rotate: -90deg;
    position: absolute;
    top:390px; 
    left:27px;
}
.fourth-circle{
    color:#ffff;
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    text-align: center;
    font-size: 22px;
    position: absolute;
     top:410px;
     left:43px;
}
.fourth-short-stroke{
    border:2px solid #D434FE;   
    width:60px;
    rotate: -90deg;
    position: absolute;
    top:510px; 
    left:27px;
}
.fifth-circle{
    color:#ffff;
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    text-align: center;
    font-size: 22px;
    position: absolute;
     top:530px;
     left:43px;
}
.fifth-short-stroke{
    border:2px solid #D434FE;
    width:60px;
    rotate: -90deg;
    position: absolute;
    top:630px; 
    left:27px;
}
.sixth-circle{
    color:#ffff;
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    text-align: center;
    font-size: 22px;
    position: absolute;
     top:650px;
     left:43px;
}
.timeline-third-div{
color:#ffff;
margin-right: 30px;
animation:wheel-third-timeline 2s linear;
position:relative
}

@keyframes wheel-third-timeline {
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}
.timeline-third-div h3{
color:#D434FE;
}
.third-div-details-one{
    margin-top: 80px;
}
.third-div-details-two{
    margin-top:70px;
}
.third-div-details-three{
margin-top:80px;
}
.third-div-details-four{
    margin-top:80px;
}
.third-div-details-five{
    margin-top:65px;
}
.third-div-details-six{
margin-top:75px;
}
.timeline-first-star{
    width:19px;
    position: absolute;
    right:185px;
    top:-50px;
}
.timeline-second-star{
width:17px;
position: absolute;
bottom:45px;
right:350px;
}
.timeline-third-star{
    width:17px;
    position: absolute;
  top:300px;
  left:300px;
}
.prizes-rewards-container{
margin-top:100px;
background-color:#0b051b !important;
padding-bottom: 150px;
}
.prizes-rewards-main-div{
display:flex;
align-items: center;
justify-content: center;
gap:50px;
}
.prize-rewards-star-div{
    margin-top:-120px;
}
.prize-rewards-header{
    margin-left: 450px;
    color:#ffff;
    position: relative;
}
.rewards-first-star{
    width:20px;
}
.rewards-second-star{
    width:20px;
    position: absolute;
    left:350px;
    bottom:30px;
}

.prize-rewards-header h3{
    font-size:30px;
}
.prize-rewards-header span{
    color:#D434FE;
}
.prize-rewards-flex{
    display:flex; 
    align-items: center;
    justify-content: center;
    margin-top:30px;
}
.PR-first-asset-div{
    margin-left:50px;
    position:relative;
  
}
.PR-first-asset{
    width:450px;
}
.first-asset-star{
    width:16px;
    position:absolute;
    top:400px;
    right:250px;
}
.PR-second-asset{
    width:550px;
}
.PR-second-asset-div{
    position: relative;
}
.PR-second-asset-star1{
    position:absolute;
    width:16px;
    left:105px;
}
.PR-second-asset-star2{
    position:absolute;
    width:16px;
   bottom:300px;
   left:570px;
}
.PR-second-asset-star3{
    position:absolute;
    width:16px;
    top:400px;
    right:170px;
}
.partnership-container{
    position:relative;
    padding-top:100px;
    padding-bottom: 100px;
    background: rgb(48,43,152);
    background: linear-gradient(315deg, rgba(48,43,152,1) 0%, rgba(21,14,38,1) 24%, rgba(22,15,40,1) 79%, rgba(48,43,152,1) 96%);
}


.patnership-heading{
    text-align:center;

}
.patnership-text{
font-size: 28px;
color:#ffff;
}
.patnership-subtext{
    font-size:15px;
    color:#ffff;
}
.first-star-partnership img{
    width:19px;
    position: absolute;
    left:150px;
}
.partnership-main-asset{
    width:1000px;
   margin-left:150px;
   margin-top:50px;
}
.partnership-main-asset-div{
    position:relative;
}
.second-star-partnership{
    width:16px;
    position:absolute;
    left:720px;
    top:150px;
}
.third-star-partnership{
    width:16px;
    position:absolute;
    bottom:100px;
    right:600px;
}
.privacy-container{
    display:flex;
    color:#fff;
    gap:200px;
    justify-content: center;
    position: relative;
    margin-bottom:70px;
}
.privacy-details{
    width:30%;
    margin-top:110px;
    
} 
.privacy-date-div{
    position: relative;
    margin-bottom: 30px;
   
}
.privacy-date-div h3{
    font-size: 28px;
  
}
.first-privacy-grey-star{
    width:18px;
    position: absolute;
    left:300px;
    top:-10px;
}
.first-privacy-purple-star{
    width:18px;
    position: absolute;
    left:450px;
    top:80px;
}
.detailed-privacy-text{
    line-height: 25px;
}

.privacy-date-div span{
    color:#903AFF;
}
.reduce-privacy-p{
    font-size: 12px;
}
.border-privacy-details{
    border:1px solid #D434FE;
    text-align: left;
    font-size: 12px;
    height:420px;
    width:370px;
    padding:35px;
    position: relative;
}
.coloured-text{
    color:#D434FE;
    margin-top: 23px;
}
.list-term-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.list-term-flex img{
    width:10px;
    height:10px;
}
.list-term-flex p{
    line-height: 20px;
}
.privacy-container-button{
    width: 130px;
    height:40px;
    border-radius: 4px;
    border:none;
    color:#ffff;
    background-image:linear-gradient(to right , #FF26B9,#903AFF);
    text-align: center;
   margin-left: 100px;
   margin-top: 20px;
    
    }
    .privacy-asset-div{
        position:relative;
        margin-top:100px;
    }
    .privacy-triangle-asset{
         width:400px;
    }
    .privacy-padlock-asset{
        position:absolute;
        right:40px;
        width:400px;
        top:170px;
        
    }
    .border-privacy-star{
        width:20px;
        left:-60px;
        position:absolute; 
        bottom:160px;
    }
    .privacy-asset-first-star{
        width:10px;
        position: absolute;
        top:120px;
        right:80px;
    }
    .privacy-asset-second-star{
width:16px;
position:absolute;
bottom:150px;
right:-20px;
    }
    .privacy-asset-third-star{
        position:absolute;
        bottom:180px;
        width:14px;
        right:330px;
    }
    .privacy-asset-fourth-star{
        position:absolute;
        bottom:250px;
        width:14px;
        right:290px;
    }
    .footer-container{
        background-color:#100B20;
        padding-top:50px;
        color:#ffff;  
        padding-bottom:30px; 
        position:relative;
    }
    .white-star-footer-container{
        width:16px;
        position: absolute;
        right:60px;
     bottom:120px;
    }
    .grey-star-footer-container{
        width:16px;
        position: absolute;
        left:80px;
        bottom:120px;
    }

    .footer-flex{
        display:flex;
        align-items: center;
        justify-content:center;
        gap:120px;
    }
    .footer-one{
        position:relative;
        font-size:14px;
    }

    .footer-one-star{
        width:14px;
        position:absolute;
        left:-70px;
        top:70px
    }

    .term-of-use-div{
        display:flex;
        gap:3px;
        margin-top:80px;
    }

    .tou-border{
        border-left:1px solid #D434FE;
        rotate:180deg;
        width:2px !important;    
    }

    .footer-two{
        font-size:12px;
        position:relative;
    }

    .sub-footer-two{
        display:flex;
        justify-content:center;
        align-items: center;
        gap:10px;
        margin-top:30px;
    }

    .coloured-text-footer{
        color:#D434FE;
    }

    .footer-three{
        font-size: 12px;
        margin-top:-32px;
    }
    .footer-three-flex{
        display:flex;
        justify-content: center;
        gap:10px;
        margin-left: -45px;
        position:relative;
    }

    .footer-three-flex i{
        color:#ffff;
        margin-top: 9.5px;
    }

    .purple-star-{
        width:16px;
    }
    .right-reserved{
        text-align:center;
        font-size:12px;
        margin-top:18px;
        position:relative;
    }
    .right-reserved-star{
        width:16px;
    }
  .move-footer-flex{
    margin-left:-18px;
  }
