
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');



body{
    margin:0;
    padding:0;
    font-family: "Montserrat," sans-serif;
}

.parent-container{
    background-color: #150E28;
}
.hero-page{
    padding-top:50px;
    padding-bottom: 20px;
    background-color: #150E28;
    font-family: "Montserrat";
}
.first-component-flex{
    display:flex;
    gap:30px;
    /* align-items: center;
    justify-content: center;
     */
}
.get-linked-logo{
    width:150px;
    object-fit: contain;
    /* margin-right: 200px; */
    margin-left: 180px;

}
.first-component-nav{
    display:flex;
    gap:50px;
    margin-left: 300px;
    margin-top: 10px;


}
.first-component-nav nav{
    color:#ffff;
    font-size: 20px;
}
.first-component-button {
    width: 130px;
    height:40px;
    border-radius: 4px;
    border:none;
    color:#ffff;
    margin-left: 80px;
    background-image:linear-gradient(to right , #FF26B9,#903AFF);
}
hr{
    border: solid 1px grey;
    margin-top: 20px;
}

.star-innovation-div{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:300px;
    margin-top: 15px;
}
.first-star{
    margin-right:170px;
    object-fit: contain;
    width:20px;
}
.innovation-stroke-div{
    position:relative;
}

.innovation-tag{
    font-size: 28px;
    font-weight: 700;
    color:#ffff;
    margin-right: -130px;
    font-family: "Montserrat",sans-serif;
}

.curved-stroke{
    position: absolute;
     top:60px;
     margin-left: 330px;
     width:250px;
}
.second-component-flex{
    margin-top:40px;
    margin-left: 190px;
    display:flex;
    font-family: "Montserrat",sans-serif;
}

.getlinked-div{
    margin-top: 40px;
    position:relative;
}
.getlinked-div-image{
     width:490px;
}
.second-component-flex p{
    font-size: 18px;
    color:#ffff;
}
.second-component-button {
    width: 130px;
    height:40px;
    border-radius: 4px;
    border:none;
    color:#ffff;
    background-image:linear-gradient(to right , #FF26B9,#903AFF);
    margin-top:27px;
}
.first-grey-star{
    width:20px;
    position:absolute;
    bottom:250px;
    right:90px;

}

.vr-man-div{
    position: relative;
}
.second-grey-star{
    width:20px;
    position:absolute;
    left:29px;
}

.multiple-star-image{
   position:absolute;
   top:30px;
   left:-39px;
}
.vr-man{
    width:710px;
}
.countdown-div{
    display:flex;
    gap:20px;
    margin-top: 30px;
}
.countdown-div p{
font-size:40px;
}
.second-UI-div{
    margin-top:60px;
 display:flex;
 align-items: center;
 justify-content: center;
 gap:30px;
 margin-bottom:70px;
}
.big-idea-main-div{
    position:relative;
}
.second-UI-purple-star{
    position: absolute;
    top:65px;
    width:20px;
    left:45px;
}
.big-idea-img{
width:63%;
margin-left:110px;
}
/* .second-UI-arrow{
    top:20px;
} */
.introduction-text-div{
    width:38%;
    color: #ffff;
    position: relative;
}
.purple-star-second-UI{
position:absolute;
right:15px;
width:25px;
}
.introduction-text-div p{
    margin-top: 15px;
}
.rules-and-regulation-main-div{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.rules-div{
    margin-left:170px;
    position: relative;
    width:40%;
}
.rules-img{
    width:40%;
}
.rules-div p{
    margin-top: 30px;
    color:#ffff;
}
.rules-first-star{
    position:absolute;
    left:320px;
    width:20px;
    top:-30px;
}
.rules-second-star{
    position:absolute;
    width:20px;
    left:620px;

}
.judging-citeria-div{
    display:flex;
    margin-top:150px;
    align-items: center;
    justify-content: center;
    gap:50px;
    margin-bottom: 130px;
   
}

.judging-citeria-first-div{
width:50%; 
position:relative;  
margin-top: -50px;

}

.eclipse-img{
    position:absolute;
    left:110px;
    bottom:90px;
}
.judging-citeria-major-img{
    z-index:9999;
    position:absolute;
    margin-top: -180px;
}
.judging-citeria-first-star{
    position:absolute;
bottom:310px;
left:170px;
width:20px;
}
 
.judging-citeria-second-star{
    width:20px;
    position: absolute;
    bottom:-120px;
    left:410px;
    }

    .judging-citeria-third-star{
        position:absolute;
        width:20px;
        right:-10px;
        top:320px;
        } 

.judging-citeria-second-div{
    width:40%;
    margin-top: -50px;
}
.judging-citeria-second-div img{
margin-bottom: 25px;
}
.judging-citeria-text p{
color:#ffff;
font-size: 16px;
margin-bottom: 28px;
}

.judging-citeria-text span{
    color:#FF26B9;
}

.judging-citeria-button{
width: 130px;
height:40px;
border-radius: 4px;
border:none;
color:#ffff;
background-image:linear-gradient(to right , #FF26B9,#903AFF);
margin-top:27px;
margin-top:35px;
}
.FAQ-div{
    display:flex;
    margin-left:150px;
    margin-top: 80px;
}

.FAQ-text{
    margin-top: 80px;
    position:relative;
    width:35%;
}
.FAQ-first-pu-star{
    width:25px;
    position:absolute;
    top:-80px;
    left:-35px;
}

.FAQ-text p{
    color:white;
}
.text-collapse-div{
    margin-top:30px;
}
.we-got-tag{
    margin-top:30px;
    margin-bottom:80px;
}
.FAQ-img-img{
    position: relative;
    width:40%;
}
.FAQ-main-asset{
    width:700px;
}
.first-question-mark,.third-question-mark,.third-question-mark{

}