
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');



body{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
}

.parent-container{
    background-color: #150E28;
    overflow-x: hidden;
}
.hero-page{
    padding-top:50px;
    padding-bottom: 20px;
    background-color: #150E28;
    font-family: "Montserrat";
}
.first-component-flex{
    display:flex;
    gap:30px;
    /* align-items: center;
    justify-content: center;
     */
}
.get-linked-logo{
    width:150px;
    object-fit: contain;
    /* margin-right: 200px; */
    margin-left: 150px;

}
.first-component-nav{
    display:flex;
    gap:50px;
    margin-left: 270px;
    margin-top: 10px;
}

.first-component-nav > nav{
    color:#ffff;
    font-size: 20px;
}
.first-component-button {
    width: 130px;
    height:40px;
    border-radius: 4px;
    border:none;
    color:#ffff;
    margin-left: 70px;
    background-image:linear-gradient(to right , #FF26B9,#903AFF);
}
hr{
    border: solid 0.2px rgb(97, 97, 97);
    margin-top: 20px;
}

.star-innovation-div{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:300px;
    margin-top: 15px;
}
.first-star{
    margin-right:172px;
    object-fit: contain;
    width:20px;
}
.innovation-stroke-div{
    position:relative;
}

.innovation-tag{
    font-size: 28px;
    font-weight: 700;
    color:#ffff;
    margin-right: -118px;
   
}

.curved-stroke{
    position: absolute;
     top:60px;
     margin-left: 330px;
     width:250px;
}
.second-component-flex{
    margin-top:40px;
    margin-left: 130px;
    display:flex;  
}

.getlinked-div{
    margin-top: 40px;
    position:relative;
}

.getlinked-div-image{
     width:490px;
}
.second-component-flex p{
    font-size: 17px;
    color:#ffff;
}
.second-component-button {
    width: 130px;
    height:40px;
    border-radius: 4px;
    border:none;
    color:#ffff;
    background-image:linear-gradient(to right , #FF26B9,#903AFF);
    margin-top:27px;
}
.first-grey-star{
    width:20px;
    position:absolute;
    bottom:250px;
    right:90px;

}

.vr-man-div{
    position: relative;
}
.second-grey-star{
    width:20px;
    position:absolute;
    left:29px;
}

.multiple-star-image{
   position:absolute;
   top:30px;
   left:-39px;
}
.vr-man{
    width:710px;
}
.countdown-div{
    display:flex;
    gap:20px;
    margin-top: 30px;
}
.countdown-div p{
font-size:40px;
}
.second-UI-div{
    margin-top:60px;
 display:flex;
 align-items: center;
 justify-content: center;
 gap:30px;
 margin-bottom:70px;
}
.big-idea-main-div{
    position:relative;
}
.second-UI-purple-star{
    position: absolute;
    top:65px;
    width:20px;
    left:45px;
}
.big-idea-img{
width:63%;
margin-left:110px;
}
/* .second-UI-arrow{
    top:20px;
} */
.introduction-text-div{
    width:38%;
    color: #ffff;
    position: relative;
}
.purple-star-second-UI{
position:absolute;
right:15px;
width:25px;
}
.introduction-text-div p{
    margin-top: 15px;
}
.rules-and-regulation-main-div{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    
}
.rules-div{
    margin-left:170px;
    position: relative;
    width:40%;
}
.rules-img{
    width:40%;
}
.rules-div p{
    margin-top: 30px;
    color:#ffff;
}
.rules-first-star{
    position:absolute;
    left:320px;
    width:20px;
    top:-30px;
}
.rules-second-star{
    position:absolute;
    width:20px;
    left:620px;

}
.judging-citeria-div{
    display:flex;
    margin-top:150px;
    align-items: center;
    justify-content: center;
    gap:50px;
    margin-bottom: 130px;
   
}

.judging-citeria-first-div{
width:50%; 
position:relative;  
margin-top: -50px;

}

.eclipse-img{
    position:absolute;
    left:110px;
    bottom:90px;
}
.judging-citeria-major-img{
    z-index:9999;
    position:absolute;
    margin-top: -180px;
}
.judging-citeria-first-star{
    position:absolute;
bottom:310px;
left:170px;
width:20px;
}
 
.judging-citeria-second-star{
    width:20px;
    position: absolute;
    bottom:-120px;
    left:410px;
    }

    .judging-citeria-third-star{
        position:absolute;
        width:20px;
        right:-10px;
        top:320px;
        } 

.judging-citeria-second-div{
    width:40%;
    margin-top: -50px;
}
.judging-citeria-second-div img{
margin-bottom: 25px;
}
.judging-citeria-text p{
color:#ffff;
font-size: 16px;
margin-bottom: 28px;
}

.judging-citeria-text span{
    color:#FF26B9;
}

.judging-citeria-button{
width: 130px;
height:40px;
border-radius: 4px;
border:none;
color:#ffff;
background-image:linear-gradient(to right , #FF26B9,#903AFF);
margin-top:27px;
margin-top:35px;
}
.FAQ-div{
    display:flex;
    margin-left:150px;
    margin-top: 120px;
    gap:50px;
}

.FAQ-text{
    margin-top: 80px;
    position:relative;
    width:42%;
}
.FAQ-first-pu-star{
    width:25px;
    position:absolute;
    top:-80px;
    left:-35px;
}

.FAQ-text p{
    color:white;
}
.text-collapse-div{
    margin-top:30px;
}
.hidden-tag{
    display:none;
}
.we-got-tag{
    margin-top:30px;
    margin-bottom:80px;
}
.FAQ-img-div{
    width:50%;
    position:relative;
}
.FAQ-main-asset{
    width:630px;
}
 .first-question-mark{
position:absolute;
z-index: 99999;
right:270px;
top:-22px;
} 
 .second-question-mark{
right:420px;
position:absolute;
top:-65px;
z-index: 99999;
width:55px;
}
.third-question-mark{
    right:560px;
    position:absolute;
    top:-5px;
z-index: 99999;
}
.FAQ-first-star{
    position:absolute;
    top:10px;
    width:20px;
    right:330px;
}
.FAQ-second-star{
    position:absolute;
    top:150px;
    width:20px;
    right:550px;
}
.FAQ-third-star{
    position:absolute;
    top:310px;
    width:20px;
    right:610px;
}
.FAQ-fourth-star{
    position:absolute;
    bottom:0px;
    width:20px;
    right:100px;
}
.each-question-div{
    border-bottom: 1px solid #D434FE;
    display:flex;
    gap:20px;
    width:540px;
    
}
.fa{
    margin-left:50px;
    color:#D434FE;
}
.first-plus{
    margin-left: 5px;
}
.second-plus{
    margin-left: 30px;
}
.third-plus{
    margin-left: 48px;
}
.fourth-plus{
    margin-left: 70px;
}
.fifth-plus{
    margin-left: 125px;
}
.sixth-plus{
    margin-left: 10px;
}
.timeline-parent-container{
    margin-top:40px;
   
}
.timeline-div{
 text-align: center;
}

.timeline-text{
    color: #ffff;
    font-size: 30px;

}
.timeline-info-header{
    color:#ffff;
    font-size:15px;
    font-family:'Montserrat';
}
.timeline-flex-container{
    display:flex;
    /* align-items: center; */
    justify-content: center;
    gap:27px;
    margin-left: 80px;
    margin-top:120px;
    font-size: 14px;
}
.timeline-first-flex{
    color:#ffff;
    text-align: right;
    position:relative;
    /* margin-top: 0px !important; */
    animation:wheel-first-timeline 1.0s linear;
}

@keyframes wheel-first-timeline {
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}

.timeline-first-flex h3{
    color:#D434FE;
}
.first-div{
    margin-top:40px;
}
.second-div{
    margin-top: 85px;
}
.third-div{
    margin-top: 80px;
}
.fourth-div{
    margin-top:89px;
}
.fifth-div{
    margin-top:65px;
}
.sixth-div{
    margin-top:80px;
}
.timeline-second-flex{
    position: relative;
    animation:wheel-second-timeline 1.5s linear;
}

@keyframes wheel-second-timeline {
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}


.long-stroke{
   border:2px solid #D434FE;
   width:108px;
   rotate: -90deg;
}
.circle{
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    color:#ffff;
    text-align: center;
    font-size: 22px;
    position: absolute;
    top:70px;
    left:43px;

}
.short-stroke{
    border:2px solid #D434FE;
   width:60px;
   rotate: -90deg;
   position: absolute;
   top:150px; 
   left:27px;
}
.second-circle{
   color:#ffff;
   border-radius: 50%;
   width:37px;
   height:38px;
   background-color: #D434FE;
   text-align: center;
   font-size: 22px;
   position: absolute;
    top:190px;
    left:43px;
}     
.second-short-stroke{
    border:2px solid #D434FE;
    width:60px;
    rotate: -90deg;
    position: absolute;
    top:270px; 
    left:27px;
}
.third-circle{
    color:#ffff;
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    text-align: center;
    font-size: 22px;
    position: absolute;
     top:290px;
     left:43px;
}
.third-short-stroke{
    border:2px solid #D434FE;
    width:60px;
    rotate: -90deg;
    position: absolute;
    top:390px; 
    left:27px;
}
.fourth-circle{
    color:#ffff;
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    text-align: center;
    font-size: 22px;
    position: absolute;
     top:410px;
     left:43px;
}
.fourth-short-stroke{
    border:2px solid #D434FE;   
    width:60px;
    rotate: -90deg;
    position: absolute;
    top:510px; 
    left:27px;
}
.fifth-circle{
    color:#ffff;
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    text-align: center;
    font-size: 22px;
    position: absolute;
     top:530px;
     left:43px;
}
.fifth-short-stroke{
    border:2px solid #D434FE;
    width:60px;
    rotate: -90deg;
    position: absolute;
    top:630px; 
    left:27px;
}
.sixth-circle{
    color:#ffff;
    border-radius: 50%;
    width:37px;
    height:38px;
    background-color: #D434FE;
    text-align: center;
    font-size: 22px;
    position: absolute;
     top:650px;
     left:43px;
}
.timeline-third-div{
color:#ffff;
margin-right: 30px;
animation:wheel-third-timeline 2s linear;
position:relative
}

@keyframes wheel-third-timeline {
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}
.timeline-third-div h3{
color:#D434FE;
}
.third-div-details-one{
    margin-top: 80px;
}
.third-div-details-two{
    margin-top:70px;
}
.third-div-details-three{
margin-top:80px;
}
.third-div-details-four{
    margin-top:80px;
}
.third-div-details-five{
    margin-top:65px;
}
.third-div-details-six{
margin-top:75px;
}
.timeline-first-star{
    width:19px;
    position: absolute;
    right:185px;
    top:-50px;
}
.timeline-second-star{
width:17px;
position: absolute;
bottom:45px;
right:350px;
}
.timeline-third-star{
    width:17px;
    position: absolute;
  top:300px;
  left:300px;
}
